@media only screen and (max-width: 600px) {
    body {
    overflow-x: hidden;
  }
  * {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html {
scroll-behavior: smooth;
}

body {
    background-color: #191d2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    color: #FFFFFF;
    transition: all 0.4s ease-in-out;
    overflow-x: hidden;
}
/* Scrollbar Transparent */
::-webkit-scrollbar {
width: 0px;
background: transparent; /* make scrollbar transparent */
}
header{
    margin-left: 0% !important;
    height: auto;
}

    .nav-bar-button {
        z-index: 100000 !important;
        background-color: #0708087a;
        width: 100% !important;
        top: 0 !important;
        position: fixed !important;
        flex-direction: row !important;
        margin-left: -2% !important;
    }
    .nav-bar-button a{text-decoration: none;}
    #content1{height: auto !important;}
    .btn1{
        margin-left: 0% !important;
        padding-left: 0.3rem;
        padding-right: 0.2rem;
    }
    
    .h-shape, .t-shape{display: none;}
    .image{display: none;}
    .box-shape{
        display: none;
    }
    
    .left-header
    {
        margin-left: 4% !important;
        margin-top: 22% !important;
    }
    .text-area11{
        justify-content: center;
        justify-items: center;
        margin-left: 9%;
    }
.container-text{margin-left: 9%;}
    .type > span {
        color: #14f3db;
        display:grid;
        overflow: hidden;
        height: 4rem !important;
        position: absolute;
        /* letter-spacing: 10px; */
        font-size: 1.8rem !important;
        }
    .txt-p{
        margin-left: 9% !important;
        right: 10% !important;
        font-family:'Michelle';
        width: 300px !important;
        text-align: justify;
        margin: 1.5rem 0;
        line-height: 1.5rem;
        letter-spacing: 1px;
    }
    .btn-con{
        border-radius: 50px;
  padding: 0.1rem;
  width: 200px;
  padding-right: 0px;
  margin-left: 19% !important;
  margin-top: -25px !important;
  overflow-y: hidden;
  text-decoration: none;
    }
    #about{
     /* background-color: aqua !important; */
     margin-top: 20% !important;
    }
    .about-container{
        margin-top: 10% !important;
    }
    .main-title{
        font-size: 2rem !important;
    }
    .text-overlay{font-size: smaller !important;}
    .overlay1 {
        z-index: 0;
        font-size: 45px !important;
        opacity: 0.5;
        white-space: nowrap;
  }
  
  .overlay2 {
        z-index: 5;
        font-weight: bolder;
        color: floralwhite;
        font-size: 40px !important; /* Larger font size */
  }
  .about-container{
    margin-top: 12% !important;
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr; /* One column */
    gap: 15px; /* Adjust the gap between boxes as needed */
    row-gap: 20px;
}
 .about-left{
   width: 100% !important;
   margin-left: -5%;
   margin-top: 4% !important;
   margin-right: 5%;
}
.about-left h4{
    white-space: nowrap;
    margin-left: -4%;
}
.about-left p{
    margin-left: -3%;
}
.social-links{
    margin-left: -3%;
}
.btn-con11{
    margin-left: -3%;
}
.about-box {
    
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr; /* One column */
    gap: 15px; /* Adjust the gap between boxes as needed */
    row-gap: 20px;
    width: max-content;
    margin-left: -2%;
    margin-top: 2%;
}
.skills-container{
   height: 580px !important;
}
.skills-progress-box{
    display: grid;
    grid-template-columns: 1fr; /* One column */
    grid-template-rows: repeat(6, 1fr); /* Two rows */
      gap: 30px; /* Adjust the gap between grid items as needed */
      /* grid-template-rows: 50px; */
    margin-left: 9% !important;
}
.skills-p p{
margin-left: 9%;
margin-right: 3% !important;
}
.percentage{float: right !important;}
.progress-bar1{
    height:11px;
    width:300px;
    background: rgb(51, 149, 188);
    border: 0px solid gray;
    border-radius: 30px;
    background: #191d2b;
    border-radius: 13px;
}
.progress-bar1:after {
    content: '';
    display: block;
    background: #0a7388;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.progress-bar2{
    height:11px;
    width:300px;
    background: rgb(51, 149, 188);
    border: 1px solid gray;
    border-radius: 30px;
    background: #191d2b;
    border-radius: 13px;
}
.progress-bar2:after {
    content: '';
    display: block;
    background: #0a7388;
    width: 85%;
    height: 100%;
    border-radius: 10px;
}
.progress-bar3{
    height: 11px;
    width:300px;
    background: rgb(51, 149, 188);
    border: 1px solid gray;
    border-radius: 30px;
    background: #191d2b;
    border-radius: 13px;
}
.progress-bar3:after {
    content: '';
    display: block;
    background: #0a7388;
    width: 68%;
    height: 100%;
    border-radius: 10px;
}
.progress-bar4{
    height:11px;
    width:300px;
    background: rgb(51, 149, 188);
    border: 1px solid gray;
    border-radius: 30px;
    background: #191d2b;
    border-radius: 13px;
}
.progress-bar4:after {
    content: '';
    display: block;
    background: #0a7388;
    width: 65%;
    height: 100%;
    border-radius: 10px;
}
.progress-bar5{
    height:11px;
    width:300px;
    background: rgb(51, 149, 188);
    border: 1px solid gray;
    border-radius: 30px;
    background: #191d2b;
    border-radius: 13px;
}
.progress-bar5:after {
    content: '';
    display: block;
    background: #0a7388;
    width: 60%;
    height: 100%;
    border-radius: 10px;
}
.progress-bar6{
    height:11px;
    width:300px;
    background: rgb(51, 149, 188);
    border: 1px solid gray;
    border-radius: 30px;
    background: #191d2b;
    border-radius: 13px;
}
.progress-bar6:after {
    content: '';
    display: block;
    background: #0a7388;
    width: 40%;
    height: 100%;
    border-radius: 10px;
}
.ft-image1{
    margin-top: -3.1%;
}
.ft-image1 img{
    width: 120%;
   margin-left: -15% !important;
}
.resume-area{
    
   width: 123%;
   left: 0% !important;
   color: #e5e5e5;
}
.resume-text{
    font-size: 3rem;
    margin-top: 2%;
    margin-left: 32.5%;
}
.resume-text hr{
    border: 2px solid rgb(51, 149, 188);
    font-weight: 100 !important;
    width: 120px;
}
.resume-p p{
    margin-top: 5%;
    width: 88%;
    margin-left: 10% !important;
    margin-right: 10% !important;
}
.resume-grid {
    margin-top: 3% !important;
    display: grid;
    grid-template-columns: 1fr; /* One column */
      grid-template-rows: repeat(2, 1fr);
    gap: 10px; /* Adjust the gap between columns as needed */
    margin: 0 auto; /* Center the container horizontally */
    margin-left: 10%;
  }

.resume-grid-left, .resume-grid-right {
    width: 33% !important;
    height: max-content; /* Set the desired height of each section */
    border-radius: 8px; /* Optional: Add rounded corners to the sections */
}
/* vertical line css */
.vertical-line {

    height: 370px; /* Adjust the height of the line */
  }
  .vertical-line2 {

    height: 1000px; /* Adjust the height of the line */
  }
  .vertical-line3{
    height: 1550px;
  }
  .main-title1{
    font-size: 2rem !important;
}
.text-overlay{font-size: smaller !important;}
.overlay11 {
    font-size: larger;
    white-space: nowrap;
}

.overlay22 {
    font-size: 25px !important; /* Larger font size */
}
.extraactivities p{
    margin-left: -5%;
}
.activity-area{
    margin-left: -4%;
    margin-top: 2%;
    margin-bottom: 5% !important;
}
.activity-area {
      display: grid;
      grid-template-columns: 1fr; /* One column */
      gap: 30px; /* Adjust the gap between grid items */
      padding: 15px;
    }

    .grid1 {
      width: 300px;
    }
    .grid1 img{
        width: 300px;
        }
    .grid1 p{
        font-size: 14px;
        margin-left: 5%;
    }
    .grid1 iframe{
        width: 300px;
    }
    .ft-image22 img{
        width: 100%;
        margin-top: -22.9%;
        height: 150px;
    }
    .ft-image-bottom22 img{
        width: 100%;
        margin-bottom: -20.4% !important;
        height: 100px;
    }
    .main-title11{
        margin-top: 4%;
        margin-left: 35%;
    }
    .overlay1{
        font-size: 25px !important;
    }
    .overlay2{
        font-size: 20px !important;
    }
    .img-btn{
        margin-left: 27% !important;
    }
    .container-image p{
        margin-left: -10% !important;
        /* white-space: nowrap; */
    }
    #main-gallery-grid{
        margin-left: -10% !important;
    }
    .social-links i{
        font-size: 20px;
        padding: 0.1rem;
    }
    .contact-btn button{
        width: 110px !important;
    }
    #sumbitbtn{
        width: 68px !important;
    }
   

    /* Footer */
.ft-image-last img{
    width: 100%;
    position: relative;
    margin-top: 10% !important;
    bottom: 0 !important;
    height: 100px;
}
.footer-about{
    position: relative;
    color: #191d2b;
    margin-left: 6% !important;
    margin-top: -6% !important;
}
.footer-about h2{
  font-size: 15px;

}
.footer-about h3{
    font-size: 10px;
    font-weight: 100;
}


}