
/* IPAD */
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) 
  {

  /* Add your iPad Pro portrait styles here */
  #content1{
    height: 100vh;
    gap: 10px;
  }

  .right-header{
     margin-top: 70% !important;
     margin-left: 0px !important;
  }
  .left-header{
    margin-top: -200px !important;
  }
  .h-shape {
    width: 1400px; /* Set the desired width */
    margin-top: -500px !important;
      margin-left: 150% !important;
      height: 100px; /* Set the desired height */
      border: 100px solid #27AE60; /* Set the border color (green in this case) */
      margin: 20px; /* Optional: Add margin for spacing */
      transform-origin: top left; /* Sets the origin of the rotation */
      transform: translate(-50%, -50%) rotate(90deg); /* Rotates the rectangle 45 degrees */
      z-index: 2 !important;
  }
  .t-shape{
     display: none !important;
  }
  
  .box-shape{
  background-color: #313336;
  width: 450px;
  height: 700px;
  margin-left: -100px !important;
  top: 50%;
  left: 60%;
  justify-content: center;
  border-radius: 15% !important;
  position: absolute;
  opacity: 100%;
  z-index: 99999 !important;
  }
  .image img{
  position:absolute;
  height: 940px;
  top: 32.3%;
  left: 45.4%;
  z-index: 999999 !important;
  }
  
  .about-container-part {
    display: flex !important;
    flex-direction: column !important;
  }

  .about-left{
    margin-left: 20% !important;
    width: 80% !important;
  } 
  .about-right {
    margin-left: 23% !important ;
  }
  .about-box{
    width: 700px !important;
  }
  .skills-progress-box{
    margin-left: 250px !important;
  }
  .progress-bar1{
    width: 70% !important;
  }
  .progress-bar2{
    width: 70% !important;
  }
  .progress-bar3{
    width: 70% !important;
  }
  .progress-bar4{
    width: 70% !important;
  }
  .progress-bar5{
    width: 70% !important;
  }
  .progress-bar6{
    width: 70% !important;
  }

  .percentage{
    margin-right:31% !important;
  }
  .resume-grid{
    margin-left: 140px !important;
  }
  .resume-grid-left{
    width: 400px !important;
  }
  .resume-grid-right{
    margin-left: -60px !important;
    width: 400px !important;
  }
  .main-title21{
    margin-left: 5% !important;
  }

  .extraactivities p{
    margin-left: -20px !important;
  }
  .activity-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; /* Adjust the gap between grid items */
    padding: 20px;
    margin-left: -40px !important;
  }
  .grid1 p{
    margin-left: 20px !important;
  }
  .grid1 img, .grid1 iframe{
    width: 380px !important;
  }
 
}


/* Macbook  */

@media screen and (max-width: 1440px) {
  /* Add specific styles for MacBook view here */
  #header{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    position: fixed !important;
  }
  header{
    position: fixed !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    z-index: 9999 !important;
  }
  .nav-bar-button{
    position: fixed !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    flex-direction: column !important;
    height: 80% !important;
    width: 200px !important; 
    position: fixed;
    z-index: 9999 !important;
  }
  
  #content1{

    height: 100vh !important;
  }
  .h-shape {
    position: absolute;
    width: 0;
    height: 0;
    margin-top: -12%;
    margin-left: 105%;
    border-left: 450px solid transparent;
    border-right: 450px solid transparent;
    border-bottom: 500px solid #27AE60; 
    transform-origin: top left; /* Sets the origin of the rotation */
  transform: translate(-50%, -50%) rotate(50deg); /* Rotates the rectangle 45 degrees */
    z-index: 9999;
  }
  .t-shape{
  position: absolute;
   width: 0;
   height: 0;
   margin-top: 18.3%;
   margin-left: 52%;
   border-left: 450px solid transparent;
   border-right: 450px solid transparent;
   border-bottom: 650px solid #27AE60; 
   transform: rotate(0deg) !important;
   z-index: 9999;
  }
  
  .box-shape{
  background-color: #313336;
  width: 450px;
  height: 400px;
  top: 24%;
  left: 60%;
  justify-content: center;
  border-radius: 15%;
  position: absolute;
  opacity: 80%;
  }
  .image img{
    position:absolute;
    height: 700px;
    top: -9.4%;
    left: 53.4%;
    }
    /* style for text */
    .left-header{
    margin-left: 2%;
    margin-top: 18%;
    }
}
