@media only screen and (max-width: 600px) {
    body {
    overflow-x: hidden !important;
    background-color: #191d2b;
        font-family: "Poppins", sans-serif;
        font-size: 1.1rem;
        color: #FFFFFF;
        transition: all 0.4s ease-in-out;
        overflow-x: hidden;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html {
scroll-behavior: smooth;
overflow-x: hidden !important;

}
/* main{
    overflow: scroll !important;
} */


#header{
    width: 100% !important;
}
.nav-bar-button{
    position: fixed !important;
    width: 100% !important;
    flex-direction: row !important;
    top: 0% !important;
    height: 100px !important;
    background-color: #2a2e35 !important;
}
.nav-bar-button a{text-decoration: none !important;}
.nav-bar-button button {
    padding: 0.4rem !important;
    margin: 1rem 0.6rem !important;

}
#content1{
margin-top: 0%;
margin-left: 0px !important; 
}
.h-shape, .t-shape{display: none;}
.image{display: none;}
.box-shape{
        display: none;
}
.name{
    margin-top: 120px !important;
    margin-left: 3%;
    overflow-x: hidden !important;
}
#startAfterDelay span{
    font-size: 30px;
    height: 50px;
}
.left-header{
    background-color: #191d2b !important;
    margin-top: 0px !important;
    overflow-x: hidden !important;
}
.left-header p{
    margin-left: 3% !important;
    width: 340px !important;
    margin: 1.5rem 0;
}
.btn-con{
    margin-left: 3% !important;
    margin-top: -6% !important;
  }

  /* ABOUT  */
  #about{
    overflow-x: hidden !important;
    position:  relative !important;
}
.container-about{
overflow-x: hidden !important;
overflow-y: hidden !important;
margin-left: 0px !important;
margin-top: 0% !important;
}

.main-title{
    margin-top: 25% !important;
    margin-left: 140px !important;
}
@font-face {
    font-family: limited;
    src: url(Chopsic.otf);
}

.text-overlay {
      position: absolute;
      top: 60%;
      left: 60%;
      transform: translate(-30%, -30%) !important;
}

.overlay1 {
      font-size: 45px !important;
}

.overlay2 {
      font-size: 37px !important; /* Larger font size */
}
.about-container-part {
    display: grid;
    grid-template-columns: 1fr !important; /* One column */
    grid-template-rows: auto auto !important; /* Two rows with auto height */
    gap: 20px !important; /* Adjust the gap between grid items as needed */
    margin-top: 35% !important;
  }

  .about-left {
    padding: 20px;
    overflow-x: hidden !important;
    margin-left: 0px !important;
    width: fit-content !important;
  }
  .about-right{
    width: 350px !important;
    padding: 20px;
    overflow-x: hidden !important;
    margin-left: 0px !important;
  }
  .about-left p{
    text-align: justify !important;
}

  .about-box {
    display: grid;
    grid-template-rows: repeat(1, 1fr) !important;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 15px; /* Adjust the gap between boxes as needed */
    row-gap: 20px;
    width: 270px !important;
    margin-left: 12% !important;
    margin-top: 2%;
}

.about-box div {
     /* Styling for each box */
    text-align: center;
    padding: 20px;
    border: 1px solid #2a2e35;
}
.ft-image img{
    position:  relative !important;
    width: 100%;
    margin-left: 0% !important;
    margin-top: 5% !important;
 }

 .skills-container{
    margin-top: -2% !important;
    color: #191d2b;
    border-top: 2px solid white !important;
 }
 .skils-text{
    margin-bottom: 5% !important;
    margin-left: 3% !important;
}
.skills-p p{
    margin-top: 2%;
    margin-left: 6% !important;
    margin-right: 5%;
}
 .skils-text hr{
    margin-left: 35.5% !important;
}

.skills-progress-box{
    display: grid;
    grid-template-rows: repeat(1, 1fr) !important;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 15px !important; /* Adjust the gap between boxes as needed */
    row-gap: 20px !important;
    background-color: white !important;
    /* background-color: #3498db; Set a background color or style as needed  */
    width: 90% !important;
    margin-left: 10px !important;
    margin-top: 2%;
}
.progress-bar1{
    width:350px !important;
}
.progress-bar2{
    width:350px !important;
}
.progress-bar3{
    width:350px !important;
}
.progress-bar4{
    width:350px !important;
}
.progress-bar5{
    width:350px !important;
}
.progress-bar6{
    width:350px !important;
}
.ft-image1 {
    position:  relative !important;
    width: 100%;
    margin-left: 0px !important;
    margin-top: -6% !important;
 }
/* RESUME CONTAINER */
.resume-area{
    margin-top: 10% !important;
 }
 .resume-text{
    margin-left: 29% !important;
}
.resume-p p{
    margin-top: 4% !important;
    margin-left: 6% !important;
    margin-right: 5% !important;
}
.resume-text hr{
    border: 2px solid rgb(51, 149, 188);
    font-weight: 100 !important;
    width: 120px;
}
.resume-grid {
      margin-top: 10% !important;
      display: grid;
    grid-template-rows: repeat(1, 1fr) !important;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 15px; /* Adjust the gap between boxes as needed */
    row-gap: 20px;
    width: 368px !important; /* Set the desired width of the container */
    margin-left: 1% !important;
    }
.vertical-line {
    height: 380px !important;
}
.vertical-line2 {
    height: 870px !important;
}
.vertical-line3 {
    height: 1370px !important;
}

.container-activities{
    position:  relative !important;
    margin-top: 10%;
    margin-left: 0px !important; 
}
.main-title21{
    margin-top: 11%;
    margin-left: 0% !important;
}
.text-overlay2 {
    font-size: 30px !important;
    text-align: center !important;
    margin-left: 29px !important;
}
.extraactivities{
    margin-right: 19px;
}
.activity-area {
    display: grid;
    grid-template-columns: 1fr !important; /* 1 fraction of available space */
    grid-template-rows: repeat(6, 1fr) !important; /* 6 rows with 1 fraction each */
    gap: 30px; /* Adjust the gap between grid items */
    padding: 15px;
    margin-top: 2%;
    margin-bottom: 5% !important;
  }
.grid1, .grid1 iframe{
    margin-left: 0px !important;
    width: 310px !important;
}
.grid1 img{
    width: 310px !important;
}

/* IMAGE  */

.ft-image22 img{
    width: 100% !important;
    margin-top: -2% !important;
    height: 100px !important;
    
}

#image{
    background-color:#191d2b!important;
    margin-top: 18% !important;
    margin-right: 0px !important;
    position:  relative !important;
    height: max-content !important;
    overflow-x: hidden !important;
    overflow-y:  hidden !important;
    border: 2px solid #191d2b;
}
#image-section1{
    margin-left: 0px !important;
    background-color: white !important;
    margin-top: -10px !important;
}
.main-title11{
    margin-top: 5% !important;
    margin-left: 133px !important;
}
.overlay33{
    font-size: 25px !important;
 }
 .overlay34{
     font-size: 24px !important;
 }

.img-btn{
    margin-top: 6% !important;
    margin-left: 133px !important;
}
#image-section1 p{
    margin-left: 70px !important
}

.ft-image-bottom22 img{
    width: 100% !important;
    margin-top: -5% !important;
    height: 120px !important;
    
}

/* CONATCT */
#contact{
    margin-top: 8%;
    margin-left: 0px !important;
    overflow-x: hidden !important;
    overflow-y:  hidden !important;
}
.main-title22{
    margin-top: 19% !important;
    margin-left: 158px !important;
}
.overlay25{
    font-size: 25px !important;
 }
 .overlay26{
     font-size: 24px !important;
 }
 #contact-form{
    margin-top: 25% !important;
    display: block;
    margin-left: 18px !important;
    overflow-x: hidden !important;
    overflow-y:  hidden !important;
}
.contact-btn button{
  width: 100px !important;
  font-size: 12px;
  height: 50px !important;
}
.social-links i{
    padding-left: 1px !important;
    font-size: 20px !important;
}
.last-btn0 a{
    margin-left: -10px !important;
}

/* FOOTER */
#footer-lst{
    border-bottom: 2px solid white !important;
    margin-top: 6% !important;
    margin-bottom: 0px !important;
    position:  relative !important;
    overflow-x: hidden !important;
    overflow-y:  hidden !important;
}
.ft-image-last img{
    width: 100%;
    margin-top:-7%;
    height: 110px !important;
}
.footer-about{
    margin-top: -30px !important;
    margin-left: 130px !important;
}
.footer-about h2{
  font-size: 10px !important;
  text-align: center;
}
.footer-about h3{
    font-size: 8px !important;
}

}